@charset "ISO-8859-1";
h1{
	text-align   : center;
}
div {
	text-align : center;
}

table {
    border     : 1px solid gray;
    width      : 60%;
    font-size  : 120%;
    text-align : center;
}
 
table tbody  tr {
    cursor : pointer;
}