<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agregar Ciclo</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="http://localhost:8081/style.css">
</head>
<body>
		<div class="container mt-5">
		<div class="col-sm-5">
		<form th:action="@{/saveCiclo}" th:object=${ciclo} method="POST">
			<div class="card"></div>
			<div class="card-header">
				<h3>Ingresar Ciclo</h3>
			</div>
			<div class="card-body">
				<div class="form-group">
					<h5>Título</h5>
					<input required th:field="*{titulo}" type="text" class="form-control"/>
				</div>
				<div class="form-group">
					<h5>Número</h5>
					<input oninput="check(this)" min="1" max="2" th:field="*{numero}" type="number" class="form-control"/>
				</div>
				<div class="form-group">
					<h5>Año</h5>
					<input oninput="check(this)" th:field="*{anio}" type="number" min="2020" class="form-control"/>
				</div>
				<div class="form-group">
					<h5>Inicia:</h5>
					<input th:field="*{fecha_ini}" type="date" pattern="dd-MM-YYYY" class="form-control"/>
				</div>
				<div class="form-group">
					<h5>Finaliza:</h5>
					<input th:field="*{fecha_fin}" type="date" pattern="dd-MM-YYYY" class="form-control"/>
				</div>
				<div class="form-group">
					<h5>Activar?</h5>
					<input th:field="*{activo}" value="0" type="checkbox" title="(No activar)" class="form-control"/>
					<label>NO</label>
					<input th:field="*{activo}" value="1" type="checkbox" title="(Activar)" class="form-control"/>
					<label>SI</label>
				</div>
			</div>
			<div class="card-footer">
				<input type="submit" value="Guardar" class="btn btn-success"/>
				<a href="/ciclos" class="btn btn-danger">Cancelar</a>
			</div>
		</form>
		<br>
		</div>
	</div>
	<script src="http://localhost:8081/funciones.js" language="javascript"></script>
</body>
</html>