<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agregar Ciclo</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="http://localhost:8081/style.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/">
  	<img src="http://localhost:8081/logo.png" width="40" height="40" alt="Gestion de solicitudes academicas">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/usuarios">Usuarios</a>
      <a class="nav-item nav-link" href="/departamentos">Departamentos</a>
      <a class="nav-item nav-link" href="/materias">Materias</a>
      <a class="nav-item nav-link" href="/ciclos">Gestion de Ciclo</a>
      <a class="nav-item nav-link" href="/solicitudes">Solicitudes</a>
    </div>
  </div>
  <span class="navbar-text">
  SISTEMA DE GESTION DE SOLICITUDES ACADEMICAS &nbsp;&nbsp;&nbsp;
    <a href="/logout">Salir</a>
  </span>
</nav>
		<div class="container mt-5">
		<div class="col-sm-5">
		<form th:action="@{/saveCiclo}" th:object=${ciclo} method="POST">
			<div class="card"></div>
			<div class="card-header">
				<h3>Ingresar Ciclo</h3>
			</div>
			<div class="card-body">
				<div class="form-group">
					<h5>Título</h5>
					<input required th:field="*{titulo}" type="text" class="form-control"/>
				</div>
				<div class="form-group">
					<h5>Número</h5>
					<input oninput="check(this)" min="1" max="2" th:field="*{numero}" type="number" class="form-control"/>
				</div>
				<div class="form-group">
					<h5>Año</h5>
					<input oninput="check(this)" th:field="*{anio}" type="number" min="2021" class="form-control"/>
				</div>
				<div class="form-group">
					<h5>Inicia:</h5>
					<input th:field="*{fecha_ini}" type="date" pattern="dd-MM-YYYY" class="form-control"/>
				</div>
				<div class="form-group">
					<h5>Finaliza:</h5>
					<input th:field="*{fecha_fin}" type="date" pattern="dd-MM-YYYY" class="form-control"/>
				</div>
				<div class="form-group">
					<h5>Activar?</h5>
					<input th:field="*{activo}" value="0" type="checkbox" title="(no activar)" class="form-control"/>
					<label>NO</label>
					<input th:field="*{activo}" value="1" type="checkbox" title="(activar)" class="form-control"/>
					<label>SI</label>
				</div>
			</div>
			<div class="card-footer">
				<input type="submit" value="Guardar" class="btn btn-success"/>
				<a href="/ciclos" class="btn btn-danger">Cancelar</a>
			</div>
		</form>
		<br>
		</div>
	</div>
	<script src="http://localhost:8081/funciones.js" language="javascript"></script>
</body>
</html>