<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" lang="es">
<title>Editar Materia</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="http://localhost:8081/style.css">
</head>
<body>
		<div class="container mt-5">
		<div class="col-lg-5">
		<form th:action="@{/saveMateria}" th:object=${materia} method="POST">
			<div class="card"></div>
			<div class="card-header">
				<h3>Editar Materia</h3>
			</div>
			<div class="card-body">
				<div class="form-group">
					<input type="hidden" th:value="${id}" th:field="*{id_materia}" class="form-control"/>
				</div>
				<div class="form-group">
					<h5>Departamento:</h5>
					<select th:field="*{departamento.id_depto}" class="form-control">
						<option th:each="v:${departamentos}"  
						th:value="${v.getId_depto()}" th:text="${v.getDepartamento()}"></option>
					</select>
				</div>
				<div class="form-group">
					<h5>Código de materia:</h5>
					<input required th:field="*{codigo}" type="text" class="form-control"/>
				</div>
				<div class="form-group">
					<h5>Tipo de materia:</h5>
					<select required th:field="*{tipo}" type="text" class="form-control">
						<option value="Obligatoria">Obligatoria</option>
						<option value="Electiva">Electiva</option>
					</select>
				</div>
				<div class="form-group">
					<h5>Nombre:</h5>
					<input required th:field="*{nombre_materia}" type="text" class="form-control"/>
				</div>
			</div>
			<div class="card-footer">
				<input type="submit" value="Guardar" class="btn btn-primary" />
				<a href="/materias" class="btn btn-danger">Cancelar</a>
			</div>
	  <div class="col"></div>
		</form>
		<br/>
		</div>
	</div>
	<script src="http://localhost:8081/funciones.js" language="javascript"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>