<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar Ciclo</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="http://localhost:8081/style.css">
</head>
<body>
		<div class="container mt-5">
		<div class="col-sm-5">
		<form th:action="@{/editCiclo}" th:object=${ciclo} method="POST">
		<div class="card">
			<div class="card-header">
				<h3>Editar Ciclo</h3>
				<a th:href=@{/editar-ciclo/}+${id}+@{/materias-imp/}>Materias Impartidas</a>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label>ID:</label>
					<input th:text="${id}" th:field="*{id_ciclo}" oninput="check(this)" type="hidden" class="form-control"/>
				</div>
				<div class="form-group">
					<label>TITULO:</label>
					<input required th:field="*{titulo}" type="text" class="form-control"/>
				</div>
				<div class="form-group">
					<label>NUMERO:</label>
					<input required th:field="*{numero}" type="number" min="1" max="2" class="form-control"/>
				</div>
				<div class="form-group">
					<label>AÑO:</label>
					<input oninput="check(this)" th:field="*{anio}" type="number" min="1" class="form-control"/>
				</div>
				<div class="form-group">
					<label>INICIO:</label>
					<input th:field="*{fecha_ini}" type="date" class="form-control"/>
				</div>
				<div class="form-group">
					<label>FINALIZACION:</label>
					<input th:field="*{fecha_fin}" type="date" class="form-control"/>
				</div>
				<div class="form-group">
					<label>ACTIVAR?</label><br>
					<input th:field="*{activo}" value="0" type="checkbox" class="form-control"/>
					<label>NO</label>
					<input th:field="*{activo}" value="1" type="checkbox" class="form-control"/>
					<label>SI</label>
				</div>
			</div>
			<div class="card-footer">
				<input type="submit" value="Guardar" class="btn btn-primary" />
				<a th:onclick="eliminarCiclo([[${id}]])" class="btn btn-danger">Eliminar</a>
			</div>
		</div>
		</form>
		<br>
		</div>
	</div>
	<script src="http://localhost:8081/funciones.js" language="javascript"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>