<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar Departamento</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="http://localhost:8081/style.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/">
  	<img src="http://localhost:8081/logo.png" width="40" height="40" alt="Gestion de solicitudes academicas">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/usuarios">Usuarios</a>
      <a class="nav-item nav-link" href="/departamentos">Departamentos</a>
      <a class="nav-item nav-link" href="/materias">Materias</a>
      <a class="nav-item nav-link" href="/ciclos">Gestion de Ciclo</a>
      <a class="nav-item nav-link" href="/solicitudes">Solicitudes</a>
    </div>
  </div>
  <span class="navbar-text">
  SISTEMA DE GESTION DE SOLICITUDES ACADEMICAS &nbsp;&nbsp;&nbsp;
    <a href="/logout">Salir</a>
  </span>
</nav>
		<div class="container mt-5">
		<div class="col-sm-5">
		<form th:action="@{/saveDepto}" th:object=${depto} method="POST">
			<div class="card"></div>
			<div class="card-header">
				<h3>Editar Departamento</h3>
			</div>
			<div class="card-body">
				<div class="form-group">
					<input type="hidden" th:value="${id}" th:field="*{id_depto}" class="form-control"/>
				</div>
				<div class="form-group">
					<h5>Nombre del departamento:</h5>
					<input required th:field="*{departamento}" type="text" class="form-control"/>
				</div>
				<div class="form-group">
					<h5>Asignar jefe:</h5>
					<select th:field="*{jefe.id_jefe}" class="form-control">
						<option th:each="v:${jefes}"  
						th:value="${v.getId_jefe()}" th:text="${v.getNombreJefe()}">
						</option>
					</select>
				</div>
			</div>
			<div class="card-footer">
				<input type="submit" value="Guardar" class="btn btn-primary" />
				<a href="/departamentos" class="btn btn-danger">Cancelar</a>
			</div>
	  		<div class="col"></div>
		</form>
		<br>
		</div>
	</div>
	<script src="http://localhost:8081/funciones.js" language="javascript"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>