<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" lang="es">
<title>Materias - Facultad de Quimica y Farmacia</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/">
  	<img src="logo.png" width="40" height="40" alt="Gestion de solicitudes academicas">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/usuarios">Usuarios</a>
      <a class="nav-item nav-link" href="/departamentos">Departamentos</a>
      <a class="nav-item nav-link" href="/materias">Materias</a>
      <a class="nav-item nav-link" href="/ciclos">Gestion de ciclo</a>
    </div>
  </div>
  <span class="navbar-text">
    Sistema de Gestion de Solicitudes Academicas
  </span>
</nav>
	<div class="row mt-3" >
	  <div class="col"></div>
	  	<div class="col">
			<h3>Materias de la Facultad</h3>
		</div>  
	<div class="col"></div>
	</div>
	<br/>
	<div class="row">
  <div class="col"></div>
  <div class="col">
  	<form th:action="@{/materias}">
      	<input name="buscar" th:value="${buscar}" type="text" placeholder="Buscar..." size="30%">
      	<button type="submit" class="btn btn-success">Buscar</button>
    </form>
  </div>
  <div class="col"></div>
	</div>
	<div class="container mt-4">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>CODIGO MATERIA</th>
					<th>TIPO</th>
					<th>NOMBRE</th>
					<th>DEPARTAMENTO</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="v:${materias}">
					<td th:text="${v.getCodigo()}"></td>
					<td th:text="${v.getTipo()}"></td>
					<td th:text="${v.getNombre_materia()}"></td>
					<td th:text="${v.departamento.getDepartamento()}"></td>
					<td>
						<a class="btn btn-primary" th:href="@{/materias/editar/}+${v.id_materia}">Editar</a>
						<a th:onclick="eliminarMateria([[${v.id_materia}]])" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
        <br/>
        <div class="row">
	  <div class="col"></div>
	  <div class="col"><a th:href="@{/materias/agregar}"
	  	class="btn btn-success">+Crear</a></div>
	  <div class="col"></div>
	</div>
	<br>
	<br>
	</div>
	<script src="funciones.js" language="javascript"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>