<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" lang="es">
<title>Materias Impartidas del Ciclo</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="row" >
	  <div class="col"></div>
	  <div class="col">
		<h2>Materias Impartidas</h2></div>  
	<div class="col"></div>
	</div>
	<br/>
	<div class="row">
  <div class="col"></div>
  <div class="col">
  	<form th:action="@{/materiasImpartidas}">
      	<input name="buscar" th:value="${buscar}" type="text" placeholder="Buscar..." size="30%">
      	<button type="submit" class="btn btn-primary">Buscar</button>
    </form>
  </div>
  <div class="col"></div>
	</div>
	<div class="container mt-4">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>CODIGO</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="v:${materias}">
					<td th:text="${v.getId_materia_imp()}">
					<td><a class="btn btn-primary" th:href="@{/datosMateriaImp/}+${v.id_materia_imp}">Ver</a></td>
				</tr>
			</tbody>
		</table>
        <br/>
        <div class="row">
	  <div class="col"></div>
	  <div class="col"><a th:href="@{/nuevaMateriaImp}"
	  	class="btn btn-danger">+Crear</a></div>
	  <div class="col"></div>
	</div>
	<br>
	<br>
	</div>
</body>
</html>