<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Departamentos</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>Departamentos</h1>
<div class="container mt-5">
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>NOMBRE</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="d:${departamentos}">
      <td th="${d.id}"></td>
      <td th="${d.departamento}"></td>
    </tr>
  </tbody>
</table>
</div>
</body>
</html>