<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Evaluaciones - Facultad de Quimica y Farmacia</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="http://localhost:8081/style.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/">
  	<img src="http://localhost:8081/logo.png" width="40" height="40" alt="Gestion de solicitudes academicas">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/usuarios">Usuarios</a>
      <a class="nav-item nav-link" href="/departamentos">Departamentos</a>
      <a class="nav-item nav-link" href="/materias">Materias</a>
      <a class="nav-item nav-link" href="/ciclos">Gestion de Ciclo</a>
      <a class="nav-item nav-link" href="/solicitudes">Solicitudes</a>
    </div>
  </div>
  <span class="navbar-text">
  SISTEMA DE GESTION DE SOLICITUDES ACADEMICAS &nbsp;&nbsp;&nbsp;
    <a href="/logout">Salir</a>
  </span>
</nav>
	<div class="row mt-3">
	  <div class="col"></div>
	  	<div class="col">
			<h3>Evaluaciones</h3>
		</div>  
	<div class="col"></div>
	</div>
	<br/>
	<div class="row">
  <div class="col"></div>
  <div class="col">
      <form th:action="@{/materia-imp/}+${id}+@{/evaluaciones}">
      	<input name="buscar" th:value="${buscar}" type="text" placeholder="Buscar..." size="30%">
      	<button type="submit" class="btn btn-success">Buscar</button>
    </form>
  </div>
  <div class="col"></div>
	</div>
	<div class="container mt-4">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>NOMBRE</th>
					<th>FECHA REALIZACION</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="v:${evaluaciones}">
					<td th:text="${v.getEvaluacion()}"></td>
					<td th:text="${v.getFecha()}"></td>
					<td>
					<a class="btn btn-primary" th:href="@{/materia-imp/}+${id}+@{/editar-evaluacion/}+${v.id_evaluacion}">Editar</a>
					<a class="btn btn-danger" th:onclick="eliminarEvaluacion([[${id}]],[[${v.id_evaluacion}]])">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
        <br/>
        <div class="row">
	  <div class="col"></div>
	  <div class="col"><a th:href="@{/materia-imp/}+${id}+@{/agregar-evaluacion}" class="btn btn-success">+Crear</a></div>
	  <div class="col"></div>
	</div>
	<br>
	<br>
	</div>
	<script src="http://localhost:8081/funciones.js" language="javascript"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js" 
	integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>