<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" lang="es">
<title>Datos de Materia</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="http://localhost:8081/style.css">
</head>
<body>
		<div class="container mt-5">
		<div class="col-lg-5">
		<form th:object=${materia} method="POST">
			<div class="card"></div>
			<div class="card-header">
				<h3>Info.</h3>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label>N:</label>
					<input required th:text="${id}" th:field="*{id_materia}" type="hidden" class="form-control"/>
				</div>
				<div class="form-group">
					<label>CODIGO:</label>
					<input disabled th:field="*{codigo}" type="text" class="form-control"/>
				</div>
				<div class="form-group">
					<label>TIPO:</label>
					<input disabled th:field="*{tipo}" type="text" class="form-control"/>
				</div>
				<div class="form-group">
					<label>NOMBRE:</label>
					<input disabled th:field="*{nombre_materia}" type="text" class="form-control"/>
				</div>
			</div>
			<div class="card-footer">
				<a th:href="@{/editarMateria/}+${id}" class="btn btn-primary">Editar</a>
				<a th:href="@{/eliminarMateria/}+${id}" class="btn btn-danger">Eliminar</a>
			</div>
	  <div class="col"></div>
		</form>
		<br>
		</div>
	</div>
	<script src="http://localhost:8081/funciones.js" language="javascript"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>